{% extends "bootstrap/base.html" %}
{% block title %}cfgmgmtcamp{% endblock %}

{% block navbar %}
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Isn't this just amazing</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <form class="navbar-form navbar-right" role="form">
            <div class="form-group">
              <input type="text" placeholder="Email" class="form-control">
            </div>
            <div class="form-group">
              <input type="password" placeholder="Password" class="form-control">
            </div>
            <button type="submit" class="btn btn-success">Sign in</button>
          </form>
        </div><!--/.navbar-collapse -->
      </div>
    </nav>
{% endblock %}

{% block content %}
    <div class="jumbotron">
        <div class="container">
            <h1>Hello, cfgmgmtcamp!</h1>
            <p> Suspendisse egestas commodo eros.
Suspendisse tincidunt mi vel metus. Vivamus non urna in nisi gravida congue.
Aenean semper orci a eros. Praesent dictum. Maecenas pharetra odio ut dui.
Pellentesque ut orci. Sed lobortis, velit at laoreet suscipit, quam est
sagittis nibh, id varius ipsum quam ac metus. Phasellus est nibh, bibendum non,
dictum sed, vehicula in, sem. Vestibulum ante ipsum primis in faucibus orci
luctus et ultrices posuere cubilia Curae; Mauris sollicitudin. Duis congue
tincidunt orci. Integer blandit neque ut quam. Morbi mollis. Integer lacinia.
Praesent blandit elementum sapien. Praesent enim mauris, suscipit a, auctor et,
lacinia vitae, nunc. Pellentesque habitant morbi.
            </p>
        <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more &raquo;</a></p>
        </div>
    </div>
{% endblock %}
